@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: white;
  --lightest: #caf0f8;
  --lighter: #90e0ef;
  --medium: #00b4d8;
  --darker: #0077b6;
  --darkest: #03045e;
  --text-dark: black;
  --text-light: white;
  --transition-duration-medium: 400ms; 
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration-medium: 0;
  }
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--darkest);
  font-weight: bold;
}

.button {
  max-width: 100px;
  background-color: var(--medium);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 8px 12px;
}

.svg-button {
  height: 16px;
  width: 16px;
}

.svg-button svg {
  fill: var(--medium);
  height: 100%;
  width: 100%;
  transition-duration: var(--transition-duration-medium);
}

.svg-button.arrow.active svg {
  transform: rotate(180deg);
  transition-duration: var(--transition-duration-medium);
}


header {
  padding: 12px;
  background-color: var(--darkest);
  color: var(--text-light);
}

h1 {
  color: var(--darkest);
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: var(--darker);
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  color: var(--darker);
  font-size: 1.5rem;
  font-weight: bold;
}
