@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg-color: white;
  --lightest: #caf0f8;
  --lighter: #90e0ef;
  --medium: #00b4d8;
  --darker: #0077b6;
  --darkest: #03045e;
  --text-dark: black;
  --text-light: white;
  --error: #ff3333;
  --transition-duration-short: 200ms;
  --transition-duration-medium: 400ms;
  --transition-duration-long: 1s;
  --padding-unit: 1rem;
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration-short: 0;
    --transition-duration-medium: 0;
    --transition-duration-long: 0; 
  }
}

body {
  margin: 0;
  font-family: Verdana, Geneva, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--darkest);
  font-weight: bold;
}

.error {
  color: var(--error);
}

.button {
  max-width: 100px;
  background-color: var(--medium);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  list-style: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: flex;
  align-content: center;
  align-items: center;
  padding: 8px 12px;
  justify-content: center;
}

.svg-button {
  height: 16px;
  width: 16px;
}

.svg-button svg {
  fill: var(--medium);
  height: 100%;
  width: 100%;
  transition-duration: var(--transition-duration-medium);
}

.svg-button.arrow.active svg {
  transform: rotate(180deg);
  transition-duration: var(--transition-duration-medium);
}

.icon {
  fill: var(--darker);
}


header {
  padding: 12px;
  background-color: var(--darkest);
  color: var(--text-light);
}

h1 {
  color: var(--darkest);
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  color: var(--darker);
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  color: var(--darker);
  font-size: 1.5rem;
  font-weight: bold;
}


.main {
  padding: 2rem;
}

.content {
  min-height: calc(100vh - 80px);
  flex-grow: 1;
}

.sidebar {
  width: 0;
  transition: width var(--transition-duration-medium)
}

.sidebar.visible {
  border-left: 1px solid lightgray;
  padding-right: 0;
  overflow: auto;
  resize: horizontal;
  position: static;
  width: 350px;
  transition: width var(--transition-duration-medium);
}

.sidebar.visible .sidebar-content {
  padding: 2rem;
  transition: opacity 2s;
  opacity: 1;
  transition-delay: 400ms;
}

.info-button:hover {
  fill: var(--darker);
  transition: var(--transition-duration-short) 
}


@media only screen and (max-width: 750px) {
  .sidebar.visible {
    position: absolute;
    left: 50%;
    background-color: rgba(255,255,255,0.8);
    padding: 4px;
  }

}