form {
    display: flex;
    flex-direction: column;
}

form div {
    padding: 8px;
}

.helper-text {
    opacity: 0;
    transition: 250ms ease-in-out;
}

.helper-text.visible {
    opacity: 1;
    transition: 250ms ease-in-out;
}

.form-element {
    animation-duration: 1s;
    animation-name: reveal; 
}

.form-element .button.active {
    background-color: var(--darker);
}

.results-list {
  list-style: none;
}

input {
  border-bottom: 1px solid var(--darker);
}

@keyframes reveal {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }