form {
    display: flex;
    flex-direction: column;
}

form div {
    padding: 8px;
}

.helper-text {
    opacity: 0;
    transition: 250ms ease-in-out;
}

.helper-text.visible {
    opacity: 1;
    transition: 250ms ease-in-out;
}

.form-element {
  max-width: 750px;
  margin: auto;
    animation-duration: 1s;
    animation-name: reveal; 
}

.form-element .button.active {
    background-color: var(--darker);
}

.results {
  animation-duration: 1s;
  animation-name: reveal;
  min-height: 400px;
}

input {
  border-bottom: 1px solid var(--darker);
}


.accordion-content {
  max-width: 750px;
  text-align: left;
  padding: var(--padding-unit);

}

@keyframes reveal {
    from {
      opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }